.footer {
    background-color: #f5e9dc;
	padding: 1rem;
	text-align: center;
	font-size: 0.9rem;
	color: #6a4e3d;
	border-top: 2px solid #d6bfa8;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
}