.img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.229);
    margin: 2rem auto;
    display: block;
    opacity: 0;
    justify-content: center;
    border: 2px solid #3d2c1e;;
}

