.article {
    text-align: center;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.factLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.factLayout img {
    width: 100%;
    max-width: 60%;
    height: auto;
    margin-top: 1rem;
}

.fact {
    width: 100%;
    max-width: 600px;
    margin-top: 3rem;
    font-size: 1.2rem;
}

/* Tablet */
@media (min-width: 501px) and (max-width: 900px) {
    .fact {
        font-size: 1.1rem;
        padding: 0.9rem;
        margin-top: 1rem;
    }
    .factLayout img {
        margin-top: 0.1rem;
    }
	.article {
		padding: 1.5rem;
	}
}

/* Mobile */
@media (max-width: 500px) {
    .factLayout img {
        max-width: 80%;
        margin-top: 0.1rem;
    }
    .fact {
        font-size: 1rem;
        padding: 0.8rem;
        margin-top: 1rem;
        max-width: 300px;
    }
	.article {
		padding: 1rem;
	}
}