.button {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    background-color: #abd29d;
    color: #3d2c1e;
    border: 1px solid #88a37e;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button:hover {
    background-color: #b9e0aa;
    border: 1px solid #8ca781;
    transition: 1s;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Tablet */
@media (min-width: 501px) and (max-width: 900px) {
    .button {
		font-size: 0.9;
        padding: 0.4rem 0.6rem;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .button {
		font-size: 0.85rem;
        padding: 0.3rem 0.5rem;
    }
}

